@media (min-width: 0px) and (max-width: 320px) {
}
@media (min-width: 321px) and (max-width: 430px) {
}
@media (min-width: 431px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1440px) {
}
@media (min-width: 1441px) {
}
